body {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 400px;
    height: 600px;
    border: 1px solid transparent;
    border-radius: 1em;
}

#calculator-screen-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 25%;
    width: 90%;
    margin-top: 25px;
    background-color: #303030;
    border: 1px solid transparent;
    border-radius: 1em;
}

#calculator-screen-history {
    font-size: 2em;
    padding: 15px;
}

#calculator-screen-main {
    font-size: 2.5em;
    padding: 15px;
}

#calculator-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 90%;
    height: 75%;
}

#calculator-buttons-row {
    display: flex;
    gap: 8px;
}

.calculator-button {
    height: 60px;
    width: 80px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.operation-button {
    color: #fd4900;
}

#round-button {
    height: 60px;
    width: 60px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #fd4900;
    color: white;
}

#round-button-container {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 320px) {
    #calculator-container {
        width: 300px;
        height: 500px;
    }
    .calculator-button {
        height: 45px;
        width: 55px;
        font-size: 1.5em;
    }
    #round-button {
        height: 45px;
        width: 55px;
        border-radius: 0%;
    }
    #round-button-container {
        padding-left: 0px;
        padding-right: 0px;
    }
  }